

body {
    background-color: aquamarine;
}
footer {
    background-color: yellow;
    margin: 0;
    padding: 0;
}
video.video {
    height: auto;
    width: 100%;
}
.container-custom {
    min-height: calc(100vh - 153px);
}