@{
    ViewData["Title"] = "Blog";
    Layout = ViewData["Layout"] as string ?? "_LayoutHome";
}


<main class="flex-shrink-0">
    <div class="container  container-custom">
       <h1>Đây là Blog nha mấy ní ơi</h1>
    </div>
