@{
    ViewData["Title"] = "SAIGON GLISTEN";
}

<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="~/css/chitan-style.css" asp-append-version="true" />
</head>
<body>
            
            <video class="video" src="~/LayoutAdmin/assets/images/bgvid.mp4" type="video/mp4" autoplay muted loop ></video>
       
    <h2>Another text</h2>
    <h2>Another text</h2>
    <h2>Another text</h2>
    <h2>Another text</h2>
    <h2>Another text</h2>
    <h2>Another text</h2>
    <h2>Another text</h2>

    
</body>


</html>