@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    <h1> hi mng</h1>
    <h1>hi</h1>
    <h1>Xin chao Kim Thanh</h1>
    <h1>Day la Bao Thi</h1>
    <h1>Xin chao cai lon cua bao thi</h1>
</div>
