@{
    ViewData["Title"] = "SAIGON GLISTEN" ;
    Layout = ViewData["Layout"] as string ?? "_LayoutHome";
}


    <div class="srcvideo">
        <video class="video" src="~/LayoutAdmin/assets/images/bgvid.mp4" type="video/mp4" autoplay muted loop></video>
    </div>
            
           
     <div class="contener">
        <h2>Another texttttttttttttttttttttttttttttttttttttttttttttttttttttttttttttttttttt</h2>
        <h2>Another text</h2>
        <h2>Another text</h2>
        <h2>Another text</h2>
        <h2>Another text</h2>
        <h2>Another text</h2>
        <h2>Another text</h2>
        <h2>Another text</h2>
        <h2>Another text</h2>
        <h2>Another text</h2>
        <h2>Another text</h2>
        <h2>Another text</h2>
        <h2>Another text</h2>
        <h2>Another text</h2>
        <h2>Another texttttttttttttttttttttttttttttttttttttttttttttttttttttttttttttttttttt</h2>
        <h2>Another text</h2>
        <h2>Another text</h2>
        <h2>Another text</h2>
        <h2>Another text</h2>
        <h2>Another text</h2>
        <h2>Another text</h2>
        <h2>Another text</h2>
        <h2>Another text</h2>
        <h2>Another text</h2>
        <h2>Another text</h2>
        <h2>Another text</h2>
        <h2>Another text</h2>
        <h2>Another text</h2>
     </div>
    

  