@{
    ViewData["Title"] = "SAIGON GLISTEN";
}

<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
</head>
<body>
    <div class="banner">
        <video src="~/LayoutAdmin/assets/images/bgvid.mp4" type="video/mp4" autoplay muted loop></video>

        <!-- Header -->

    </div>
</body>
</html>