@{
    ViewData["Title"] = "Giới thiệu";
    Layout = ViewData["Layout"] as string ?? "_LayoutHome";
}


    <div class="container  container-custom">
        <h1>Đây là Giới thiệu nha mấy ní ơi</h1>
    </div>
