@{
    ViewData["Title"] = "Tour";
    Layout = ViewData["Layout"] as string ?? "_LayoutHome";
}

<main class="flex-shrink-0">
    <div class="container  container-custom">
        <h1>Đây là Tour nha mấy ní ơi</h1>
    </div>

