
.vs/WEBSAIGONGLISTEN/FileContentIndex/*.*
/.vs/WEBSAIGONGLISTEN/DesignTimeBuild
/.vs/ProjectEvaluation
/.vs/ProjectEvaluation
/.vs/WEBSAIGONGLISTEN/DesignTimeBuild
/.vs/WEBSAIGONGLISTEN/DesignTimeBuild
/.vs/WEBSAIGONGLISTEN/FileContentIndex
.vs/ProjectEvaluation/websaigonglisten.metadata.v7.bin
/.vs/ProjectEvaluation
/WEBSAIGONGLISTEN/bin
